<mat-card>
    <mat-card-content>
        <mat-card-title>
            <h4>List</h4>
        </mat-card-title>
        <table style="width: 600px;">
            <tr>
                <th>SR No.</th>
                <th>Name</th>
                <th>Email</th>
                <th>Age</th>
            </tr>
            <tr *ngFor="let customer of customers | async;let i=index;">

                <td>{{i+1}}</td>
                <td>{{customer.firstName+" "+customer.lastName}}</td>
                <td>{{customer.email}}</td>
                <td>{{customer.age}}</td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>