<mat-card>
    <!-- <button mat-button [matMenuTriggerFor]="aboveMenu">Customer</button>
    <mat-menu #aboveMenu="matMenu" yPosition="above">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="aboveMenu">Add Customer</button>
    <mat-menu #aboveMenu="matMenu" yPosition="above">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu> -->
    <a [routerLink]="['customers/view']" routerLinkActive="class1">Customer</a>
    &nbsp;<a routerLinkActive="class1" [routerLink]="['customers/add-customer']">Add Customer</a>
    &nbsp;<a routerLinkActive="class1" [routerLink]="['dycomp/comp1']">Component 1</a>
    &nbsp;<a routerLinkActive="class1" [routerLink]="['dycomp/comp2']">Component 2</a>
    &nbsp;<a routerLinkActive="class1" [routerLink]="['parent-child/child']">Child</a>
    &nbsp;<a routerLinkActive="class1" [routerLink]="['parent-child/parent']">Parent</a>
</mat-card>